/* commons */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #291720;
  font-size: 20px;
}

body {
  background-color: #0B3954;
}

.container {
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 40px 0;
}

h1 {
  font-size: 66px;
  margin-bottom: 40px;
  color: #FEFFFE;
}

#box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.box {
  width: calc(100% / 10 - 10px);
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #BFD7EA;
  margin: 5px;
}

.fizz {
  background-color: #FF6663;
}

.buzz {
  background-color: #E0FF4F;
}

.fizz-buzz {
  background-color: #FF3CC7;
}